  <header class="header">
    <nav class="nav">
      <a href="/" class="nav__link">Головна</a>
      <a href="/about" class="nav__link">Про нас</a>
      <a href="/cars" class="nav__link">Автопарк</a>
      <a href="/cars/add" class="nav__link">Додати авто</a>
    </nav>
  </header>