  <header class="header">
    <nav class="nav">
      <a href="/" class="nav__link">Головна</a>
      <a href="/locations" class="nav__link">Де нас знайти</a>
      <a href="/cars" class="nav__link">Автопарк</a>
      <a href="/cars/add" class="nav__link">Додати авто</a>
      <a href="/locations/add" class="nav__link">Додати локацію</a>
    </nav>
  </header>