<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>Головна сторінка автопарку</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="body">
  <%-include('./sections/header.ejs')%>

    <div class="container">
      <section class="intro">
        <h1 class="intro__title">Ласкаво просимо до автопарку!</h1>
        <p class="intro__text">Ми пропонуємо найкращі транспортні засоби для вашого комфорту та безпеки.</p>
        <a href="/cars" class="intro__button">Переглянути автопарк</a>
      </section>
    </div>
</body>

</html>