<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <h1>Інтернет-магазин</h1>
    <nav>
        <ul>
            <li><a href="/about.html">Про нас</a></li>
            <li><a href="/products">Продукти</a></li>
            <li><a href="/addproduct">Додати продукт</a></li>
        </ul>
    </nav>
</body>
</html>
